/* Add CSS Styling */
.odd {
    background-color: rgb(246, 152, 174);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#two {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#cooler {
    font-size: 24px;
}

#four {
    font-size: 24px;
    background-color: rgb(143, 255, 143);
    font-weight: bold;
}